#promo-slider .slider-item {
  background-color:#0a8ecd !important;
}

a {
  color:#004388;
}

h2, .h2 {
  font-size:24px;
}

.section.header .main-menu-wrap .main-menu > li.active > a {
  color:#0071BB;
}

.section.header .main-menu-wrap .main-menu > li.active {
  border-bottom:2px solid #0071BB;
  background:none;
}

.section.header .main-menu-wrap .main-menu > li > a:hover {
  color:#0071BB;
}

.section.header .main-menu-wrap .main-menu > li:hover {
  border-bottom:2px solid #0071BB;
  background:none;
}

.section.header .main-menu-wrap .main-menu > li {
  border-bottom:2px solid black;
  background:none;
}

.widget-group-info-banner h2 .in {
  color:white;
}

.right {
  text-align:right;
}

.justify {
  text-align:justify;
}

.article p + ul, .article p + ol {
  margin-top:10px;
}

.article ul li {
  background:none;
  margin-top:12px;
  padding:0 0 0 30px;
}

.article ul li:before {
  content:"";
  width:16px;
  height:3px;
  background-color:#004388;
  display:block;
  position:relative;
  top:15px;
  left:-23px;
  border-radius:20px;
}

.article .news-gallery-wrap ul li:before, .article .photo-gallery ul li:before, .calendar-link {
  display:none;
  margin:0px;
  padding:0px;
}

.article .news-gallery-wrap ul li {
  text-align:center;
}

.row + .row {
  margin-top:20px;
}

.row-long-menu {
  background-image:none;
  background:linear-gradient(to right, #004388, #ffffff);
  max-height:2px;
  overflow:hidden;
  display:block;
  margin:0px;
  position:relative;
  top:20px;
}

.main-title h1, .widget-group-info-banner h2 {
  background:linear-gradient(to right, #004388, #0071BB);
  color:white;
}

.breadcrumbs a {
  color:#004388;
}

.section.header .header-right {
  width:auto;
}

.section.header .submenu {
  clear:none;
}

.section.header .submenu li a, .section.header .submenu li span {
  color:#004388;
}

.section.header .submenu li.active span {
  background-color:#004388;
  color:white;
}

#page_up {
  background:url("/fileadmin/user_upload/site_15467/up.png") no-repeat scroll center center #fff;
}

.widget-menu .widget-menu-list li.active span {
  background-color:#004388;
}

.csc-header h1 {
  font-size:16px;
}

h1.csc-firstHeader {
  font-size:36px;
}

h1 .in p {
  font-size:30px;
  margin:0;
}

.widget-text-banner .media a:hover span {
  background:linear-gradient(to top, #004388, #0071BB);
}

.widget-event .date {
  display:none;
}

.content .date {
  display:none;
}

#events-widget-7881 .full-page-link, #events-widget-15739 .full-page-link {
  display:none;
}

#events-widget-7881 .category-dropdown, #events-widget-15739 .category-dropdown {
  display:none;
}

.content .col {
  display:none;
}

article-bottom .col {
  display:none;
}

.section.header .submenu li a, .section.header .submenu li span {
  font-size:14px;
  line-height:13px;
  font-weight:bold;
}

#news-widget-5951 a {
  color:#0071BB;
}

.footer .phones {
  width:320px;
}

.text-error {
  display:none;
}

.columns-content .title {
  background-color:#004388;
  color:white;
  font-size:20px;
  padding:3px;
}

.main-title {
  margin-top:10px;
}

.promo-slider .slider-item .item-content {
  color:white;
}

.promo-slider-list a {
  color:white;
}

.widget-menu ul {
  list-style-type:none;
}

.widget-menu ul li ul {
  margin-left:20px;
  margin-top:6px;
}

.italic {
  display:none;
}

.article .widget-media {
  margin:0 auto;
}

.section.header .header-logo {
  max-width:100%;
  display:inline-block;
}

.section.header .header-logo:after {
  content:"Абитуриент ИРИТ-РтФ";
  display:inline-block;
  color:#00559D;
  margin-left:20px;
  font-family:"open_sanscondbold";
  font-size:36px;
  font-weight:normal;
}

#main-menu > li:first-child {
  display:none;
}

.footer .col:first-child p:last-child {
  display:none;
}

.footer .phones p:last-child {
  display:none;
}

.widget-text-banner2 {
  margin:10px 0;
}

hr.ce-div {
  border:0px;
  display:block;
  height:3px;
  background:linear-gradient(to right, #004388, #ffffff);
}

.wrap_grid_3 {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-column-gap:1em;
  grid-row-gap:1em;
  padding:1em;
}

.wrap_grid_3 .item {
  display:flex;
  align-items:center;
}

.wrap_grid_3 .item img {
  width:100px;
  height:auto;
}

.wrap_grid_3 .item .item_title {
  padding:0 0 0 1em;
}

.common {
  display:flex;
  text-align:center;
  justify-content:space-between;
  flex-wrap:wrap;
  padding:1em 0;
}

.common .text {
  font-weight:bold;
}

.common .title {
  color:#004388;
  font-variant:small-caps;
  text-transform:uppercase;
  font-weight:normal;
}

.big {
  font-size:x-large;
}

.small {
  font-size:small;
}

.blue {
  color:#004388;
}

.center {
  text-align:center;
}

h2.title {
  font-size:xx-large;
}

.wrap_flex_3 {
  display:flex;
  flex-wrap:wrap;
  text-align:center;
  justify-content:space-around;
  padding:1em;
}

.wrap_flex_3 img {
  height:100px;
  width:auto;
}

.courses {
  display:flex;
  flex-wrap:no-wrap;
  padding:1em;
}

.article .courses p, .article .courses ul, .article .courses li {
  margin:0;
  padding:0;
}

.article .courses li {
  padding-left:2em;
}

.article .courses p {
  color:#004388;
  font-weight:bold;
}

.plan {
  text-align:center;
}

.for-footer .ce-menu {
  width:950px;
  margin:0 auto;
  text-align:center;
}

.for-footer .ce-menu li {
  display:inline-block;
  padding:0.5em;
  font-size:13px;
}

.cont_wrap {
  width:100%;
  max-width:910px;
  margin:0 auto;
  margin-top:10px;
  vertical-align:top;
}

.cont_map {
  width:49%;
  display:inline-block;
  margin:0px;
  margin-right:5px;
}

.cont_text {
  width:49%;
  display:inline-block;
  vertical-align:top;
}

.master_table table tr:first-of-type p {
  font-size:12pt;
}

.master_table table tr:first-of-type {
  font-weight:bold;
}

.article .master_table table td {
  vertical-align:middle;
}

@media (max-width: 768px) {
  .wrap_grid_3 {
    grid-template-columns:1fr 1fr;
  }
}

@media (max-width: 768px) {
  .courses {
    flex-wrap:wrap;
  }
}

@media (max-width: 620px) {
  .section.header .header-logo:after {
    font-size:20px;
  }
}

@media (max-width: 620px) {
  .wrap_grid_3 {
    grid-template-columns:1fr 1fr;
  }
}

@media (max-width: 480px) {
  .section.header .header-logo:after {
    font-size:12px;
  }
}

@media (max-width: 480px) {
  .wrap_grid_3 .item img {
    width:50px;
    height:auto;
  }
}

@media (max-width: 480px) {
  .wrap_grid_3 {
    grid-template-columns:1fr;
    padding:1em;
  }
}

@media (max-width: 480px) {
  .cont_map {
    width:100%;
  }
}

@media (max-width: 480px) {
  .cont_text {
    width:100%;
    padding-top:1em;
  }
}

.common {
  /*max-width:90%;*/
  align-self:center;
  align-items:center;
  margin-left:70px;
  justify-content:space-between;
  margin-right:70px;
}

.common {
}

