.acrylic {
  flex:1;
  position:relative;
  overflow:hidden;
}

.acrylic::before {
  content:"";
  position:absolute;
  left:-8px;
  top:-8px;
  right:-8px;
  bottom:-8px;
  z-index:-1;
  background-blend-mode:exclusion;
  filter:blur(8px);
  -webkit-filter:blur(8px);
  filter:url(#blur);
  /*filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='8');*/
}

.acrylic::after {
  content:"";
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index:-1;
  box-shadow:0 0 3px rgba(0, 0, 0, 0.1);
  background-color:rgba(255, 255, 255, 0.8);
  background-image:url("../../assets/img/whitenoise.png");
}

.acrylic.medium::after {
  background-color:rgba(255, 255, 255, 0.4);
}

.acrylic.medium-high::after {
  background-color:rgba(255, 255, 255, 0.6);
}

.border {
  border:1.5px solid #0078d7;
  border-radius:1px;
}

.shadow {
  box-shadow:0 0 1px rgba(0, 0, 0, 0.25), 0 1px 8px rgba(0, 0, 0, 0.25), 0 10px 30px rgba(0, 0, 0, 0.1);
}

rightColumn {
  background-image:url("../../assets/img/sputnik.png");
}

